{% load staticfiles %}
<html>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <head>
        <title>ColorSurvey</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <style>
    #grad1
    {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height: 55px;
        background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
        border-radius: 15px;
    }

    #nav_items
    {
        color: white;
    }

    .nav_select:hover
    {
        box-shadow: 3px 3px 15px white;
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
    }
    </style>

    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="grad1" style="color: white; font-family: 'Carter One';font-size: 22px;" class="navbar-brand" href="{% url 'ColorSurvey:index' %}"><b>ColorSurvey</b></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a class="nav_select" id="nav_items" href="{% url 'ColorSurvey:index' %}">Home</a></li>
                    <li><a class="nav_select" id="nav_items" href="{% url 'ColorSurvey:language_view' %}">Languages</a></li>
                    <li><a class="nav_select" id="nav_items" href="{% url 'ColorSurvey:language_add' %}">Add</a></li>
                    <li><a class="nav_select" id="nav_items" href="{% url 'ColorSurvey:survey_home' %}">Survey</a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a id="nav_items" href="{% url 'ColorSurvey:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                    {% else %}
                    <li><a id="nav_items" href="{% url 'ColorSurvey:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    </body>
</html>
