{% extends 'base.html' %}


{% block content %}

<script type="text/javascript">

function null_validation()
{
    if($('[name="tag"]:checkbox:checked').length == 0)
    {
        alert("Please select atleast one color.");
        return false;

    }
    return true;

}
</script>

    <div class="panel panel-primary">
      <div class="panel-heading"><h1>{{color_term_object.color}}</h1></div>
      <div class="panel-body"><h3>{{color_term_object.meaning}}</h3></div>
    </div>

    <form name="ColorSurveyForm" action="{% url 'ColorSurvey:color_terms_survey' temp_lang_id next_color_id %}" method='post'
                enctype="multipart/form-data" class="form-horizontal" onsubmit="return null_validation()" >
        {% csrf_token %}
        <div style="">
            {% for iter in options_list %}
            <div style="text-align: center; display:inline-block; margin: 0; border: 3px solid black;">
                <p><img src="{{iter.color_tile.url}}" alt="image" height="100" width="100"></p>
                <p> {{iter.id}} </p>
                <p><input type="checkbox" name="tag" id="{{iter.id}}" value="{{iter.id}}"></p>
            </div>
            {% empty %}
            <div>Sorry, no records in this list.</div>
            {% endfor %}
        </div>
        {{form.errors}}
        <br>
        <div class="form-group" style="text-align:center">
            <input type="submit" name="save_color_term_survey" class="btn btn-primary" value="Next" >
        </div>
    </form>

{% endblock %}
