{% extends 'base.html' %}

<style>

</style>

{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Instructions to Color Survey participants</h4></div>
      <div class="panel-body"><h5>Time Required: 45 min</h5></div>
    </div>

    <div class="well well-lg">
        <h3>Note:</h3>
        <ol>
            <li>The survey assumes that the participant is fluent in the survey language.</li>
            <li>The "color-term" will be displayed at the top of the screen.</li>
            <li>Participant may look at the meanings of the corressponding color-term displayed on the screen if they are not familiar with the word.</li>
            <li>Select the colour swatches that represent the name by clicking on them. Participants may select more than one of them. </li>
            <li>Click on "Next" to submit your selection and go to the next colour-term. </li>
            <li>The selection cannot be modified once submitted. </li>
            <li>An acknowledgement page will confirm the end of survey once all the color-terms are finished. </li>
            <li>Click on "Start Survey" to begin the Color Survey. </li>
        </ol>
    </div>

    <a href="{% url 'ColorSurvey:color_terms_survey' language_id color_id %}">
        <button type="button" class="btn btn-primary">Start Survey</button>
    </a>


{% endblock %}
