{% extends 'base.html' %}

{% block content %}

<script language="javascript">

function newBackgroundColor(color)
{
    //document.bgColor = color;
    document.ColorForm.seed_color.value = color;
}
</script>

<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Edit color-term</div>
</div>


<div class="well well-lg">

    <form name="ColorForm" action="" method='post' enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="field form-group">
            {{form.as_p}}
            <p>Selected Seed Color
            <input name="colorpicker" type="color" value={{initial_color}} onchange="newBackgroundColor(colorpicker.value);">
            </p>
        </div>
        {{form.errors}}
        <div class="form-group">
            <input type="submit" name="save_color_term" class="btn btn-primary" value="Update">
        </div>
    </form>

</div>

{% endblock %}
