{% extends 'base.html' %}

{% block content %}

<script language="javascript">
function newBackgroundColor(color)
{
    //document.bgColor = color;
    document.ColorForm.seed_color.value = color;
}
</script>

<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Add color-term</div>
</div>


<div class="well well-lg">

    <form name="ColorForm" action="" method='post' enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="field form-group">
            <table style="width:100%">
                <tr>
                    <th>Color Term</th>
                    <td><input type="text" class="form-control" placeholder="Enter color-term here." name="color" id="color"></td>
                </tr>
                <tr>
                    <th>Meaning</th>
                    <td><input type="text" class="form-control" placeholder="Enter dictionary meaning here." name="meaning" id="meaning"></td>
                </tr>
                <tr>
                    <th>Seed Color</th>
                    <td>
                        <p>Selected Seed Color
                        <input name="colorpicker" type="color" onchange="newBackgroundColor(colorpicker.value);">
                        </p>
                        <input type="text" class="form-control" placeholder="Select seed-color using the given picker." name="seed_color" id="seed_color">
                    </td>
                </tr>
            </table>
        </div>
        {{form.errors}}
        <div class="form-group">
            <input type="submit" name="save_color_term" class="btn btn-primary" value="Save">
        </div>
    </form>

</div>

{% endblock %}
