{% extends 'base.html' %}

{% block content %}

<div class="panel panel-danger">
    <div class="panel-heading">Error Occured</div>
    <div class="panel-body">Invalid parameter value</div>
</div>

<div class="well well-lg">
    <h5>User is allowed access to following language(s) only.</h5>
    {% for iter in user_languages %}
    <h5>
        <a href="{% url 'ColorSurvey:language_profile' language_id=iter.id %}">
            {{iter.l_name}}
        </a>
    </h5>
    {% empty %}
    <h5>Sorry, no records in this list.</h5>
    {% endfor %}
</div>

{% endblock %}
