{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Home</h4></div>
    </div>

    <div class="well well-lg">
        <h5>Welcome {{ user.username }},</h5>
        This is ColorSurvey App for data-collection, survey and analysis of color-terms in various languages. 
        It is a simple 3-step process:
        <br>
        <div class="panel panel-info">
            <div class="panel-heading"> Step 1 </div>
            <div class="panel-body">Add the language for ColorSurvey</div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading"> Step 2 </div>
            <div class="panel-body">Populate the color-terms with meanings and seed-colors</div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading"> Step 3 </div>
            <div class="panel-body"> Perform the ColorSurvey on the language and analyze the results</div>
        </div>
    </div>
{% endblock %}
