{% extends 'base.html' %}

{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">Language Profile: {{language_obj.l_name}}</div>
    </div>

    <div class="well well-lg">
        <div class="list-group">
            <h4 class="list-group-item">
                <b>Total Number of color-terms:</b> {{total_terms}}
            </h4>
        </div>

    <h4 style="padding: 150px; display: inline; text-align: left;">
        <span class="label label-info">
            <a style="color:white" href="{% url 'ColorSurvey:add_color_terms' language_id=language_obj.id %}">Add Color Terms</a>
        </span>
    </h4>

    <h4 style="display: inline; text-align: right;">
        <span class="label label-info">
            <a style="color:white" href="{% url 'ColorSurvey:list_color_terms' language_id=language_obj.id %}">List Color Terms</a>
        </span>
    </h4>

    </div>

{% endblock %}
