{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Languages List<h4></div>
    </div>

    <div class="well well-lg">
        <ul class="list-group">
        {% for lang in language_list %}
            <li style="padding: 0.4cm;" class="list-group-item">
                <a href="{% url 'ColorSurvey:language_profile' language_id=lang.id %}"><strong>{{lang.l_name}}</strong>
                </a>

                <a href="{% url 'ColorSurvey:language_delete' language_id=lang.id %}">
                <button style="float: right;" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                </button></a>

                <a href="{% url 'ColorSurvey:language_edit' language_id=lang.id %}">
                <button style="float: right;" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </button></a>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
