{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading">Edit Language</div>
    </div>

    <div class="well well-lg">
        <form action="" method='post' enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            <input type="submit" name="save_language" class="btn btn-primary" value="Update">
        </form>
    </div>

{% endblock %}
