{% extends 'base.html' %}

{% block content %}

<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
</style>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<div class="panel panel-primary">
    <div class="panel-heading">List of color-terms</div>
</div>

<div class="well well-sm">
    <input class="form-control" id="myInput" type="text" placeholder="Search Color Term">
</div>

<div class="well well-lg">
    <table style="width:100%" class="list-group" id="myList">
        <tr>
            <th>Color Term</th>
            <th>Meaning</th>
            <th>Seed Color</th>
            <th> </th>
            <th> </th>
        </tr>
        {% for iter in color_terms_list %}
        <tr>
            <td>{{iter.color}}</td>
            <td>{{iter.meaning}}</td>
            <td>{{iter.seed_color}}</td>
            <td bgcolor={{iter.seed_color}}></td>
            <td>
                <a href="{% url 'ColorSurvey:delete_color_terms' color_term_id=iter.id %}">
                <button style="float: right;" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                </button></a>

                <a href="{% url 'ColorSurvey:edit_color_terms' color_term_id=iter.id %}">
                <button style="float: right;" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </button></a>
            </td>
        </tr>
        {% empty %}
        <td>Sorry, no records in this list.</td>
        {% endfor %}
    </table>
</div>

{% endblock %}
