{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Login</h4></div>
    </div>

    <div class="well well-lg">
        <form id="login_form" method="post" action="">
            {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-body">Username: <input type="text" name="username" value="" size="50" autofocus /></div>
                <div class="panel-body">Password: <input type="password" name="password" value="" size="50" /></div>
            </div>
            <br />
            <h5 style="color:red">
                {{error}}
            </h5>
            <input class="btn btn-info" type="submit" value="Submit" />
        </form>
    </div>

{% endblock %}
