{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">SignUp</div>
    </div>

    <div class="well well-lg">
        {% if registered %}
        ColorSurvey says: <strong>thank you for registering!</strong>
        <!--<a href="/ColorSurvey/">Return to the homepage.</a><br /> -->
        {% else %}

        <form id="user_form" method="post" action=""
                enctype="multipart/form-data">

            {% csrf_token %}
            <div class="panel panel-primary">
            <!-- Display each form. The as_p method wraps each element in a paragraph
                    (<p>) element. This ensures each element appears on a new line,
                    making everything look neater. -->
            <div class="panel-body">{{ user_form.as_p }}</div>
            <div class="panel-body">{{ profile_form.as_p }}</div>
            </div>
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-info" type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
{% endblock %}
