{% extends 'base.html' %}

{% block content %}

  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Color Survey Home</h4></div>
    <div class="panel-body"><h5>Available Languages</h5></div>
  </div>

  <div class="well well-lg">
    {% for lang_id, lang_name,color_id in survey_list %}
        <h3>
        <a href="{% url 'ColorSurvey:color_terms_survey_startpage' lang_id color_id %}"><strong>{{lang_name}}</strong></a>
        </h3>
    {% endfor %}
  </div>

{% endblock %}
