{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Thank You :)</h4></div>
      <div class="panel-body"><h5>Color Survey is now complete.</h5></div>
    </div>

    <a href="{% url 'ColorSurvey:index' %}">
        <button type="button" class="btn btn-primary">Finish</button>
    </a>

{% endblock %}
